<div id="chance2" class="navbar">
    <nav>
        <h1 id="chance" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Chance <br/><span>Brinkman-Sull</span></h1>
        <ul>
            <li><a routerLink="/timeline/" routerLinkActive="active">Timeline</a></li>
            <li><a routerLink="/portfolio/" routerLinkActive="active">Portfolio</a></li>
            <li><a routerLink="/about/" routerLinkActive="active">About</a></li>
            <li><a href="mailto:chancedbs@gmail.com">Contact</a></li>
            <li>
                <div>
                    <a href="https://www.instagram.com/chancedbs/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/chance.brinkmansull"><i class="fab fa-facebook"></i></a>
                    <li><a href="https://twitter.com/chancedbs"><i class="fab fa-twitter"></i></a>
                </div>
            </li>
        </ul>
    </nav>
</div>